#home-section {
    background:url('../img/home.jpg') no-repeat;
    min-height:700px;
    background-size:cover;
    background-attachment:fixed;
}

$dark-overlay:rgba(0,0,0,0.7);
.dark-overlay{
    background-color:$dark-overlay; 
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;

}
$primary-color: #007bff;

nav a {
    color:$primary-color !important;
}
.home-inner{
    padding-top:150px;
}
.nav-item{
    margin-left:10px;
}
.navbar {
    background-color:#ffffff;
    border-bottom: 1px solid #007bff;
}
.nav-item a:hover {
        background-color:#007bff;
        color:#ffffff;
}
/*
.nav-item a:focus {
        background-color:#007bff;
        color:#ffffff;
}*/
#lienhe .modal-header {
    border-bottom:none;
}
#lienhe .modal-footer {
    border-top:none;
}
.map-container {
    border: 1px solid #000000 ;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
