code {
  background: #FAFAFA;
  color: #2980b9;
  padding: 2px; border-radius: 3px;
  padding-left: 6px; padding-right: 6px;
  font-family: monospace;
  font-size: 0.8em;
}

pre {
  background: #FAFAFA !important;
  padding: 10px; border-radius: 3px;
  font-family: monospace;
  overflow-x: scroll;
}