
/* Global */
body {
	background-color: #eaf3ef;
}
/* End Global */

/* Header */
/* End Header */

/* Footer */

/* End Footer*/

/* Home Page*/
#main-content .jumbotron {
	padding: 0;
	border: 2px solid #F6EDF1;

}
#main-content hr{
	color: #000;
	border: none;
	background-color: #000;
	height: 1px;
}
#project-tiles {
	text-align: center;
}
#project-tiles .navbar-nav{
	display: inline-block;
	float: none;
	list-style: none;
	text-align: center;
	padding: 15px 0;
	min-height: 20px;
}
#project-tiles .navbar-nav li a {
	padding: 5px 15px
}
#project-tiles .navbar-nav li a:hover,#project-tiles .navbar-nav li a:focus {
	text-decoration: none;
	background-color: #7cd4dd;
	color: #fff;
}
#project-tile {
	height: 250px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	background: url('../images/project001/001.jpg') no-repeat;
	background-position: center;
}

#project-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

#contact-tiles > h2 {
	margin-bottom: 30px;
}
#address {
	text-align: center;
}
#address span {
	font-size: 1.3em;
}
#address p {
	color: #557c3e;
	font-size: 1.8em;
	line-height: 1.8;
}
/* End Home Page*/

/***** Extra small devices only *****/
@media (max-width: 767px){
	#project-tiles .navbar-nav li {
		float: left;
	}
}
